.ordenar{
   text-align: center; 
   padding: 6px;
   margin-left: 42%;
   width: 210px;
   background-color: black;
   height: 420px;
   border-radius: 30px;
  
}


input {
  height: 30px;
  border-color: white;
}


.botao{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;

}

body{
   background-color: #a7e7e8;
}


.titulo{
   text-align: center;
}
